@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: floralwhite;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
    body {
        font-size: 10px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.header {
    background-color: #fff;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

.header .menu .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header .menu .list {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 400px;
    display: none;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
}
.header .menu .list.visible {
    display: grid;
}

.header .menu .list li {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 1rem;
    padding: 0 30px;
}
.header .menu .list li:hover {
    background: rgb(243, 243, 243);
}
.header .menu .list li a {
    transition: 0.3s;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.header .menu .list li:hover a {
    transform: translateX(10px);
    transition: 0.3s;
}
.header .menu .list img {
    width: 30px;
}
@media (max-width: 576px) {
    .header .menu .list {
        max-width: 100%;
    }
}

.header .logo {
    display: block;
    width: 100px;
}

.header .actions {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.header .actions img {
    width: 30px;
    cursor: pointer;
}
.header .actions .list {
    display: none;
    position: absolute;
    z-index: 1001;
    top: 100%;
    right: 0;
    width: 150px;
    background-color: #fff;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
}
.header .actions .list.visible {
    display: block;
}
.header .actions .list a {
    display: block;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
}
.header .actions .list a:hover{
    background: rgb(243, 243, 243);
}

.main {
    margin-top: 50px;
}
h1.title {
    font-size: 2.2rem;
    text-align: center;
}
.main .swiper-container {
  margin-top: 50px;
}
.main .books-container {
    background-color: #fff;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    padding: 30px;
}
.main .swiper-books-slide {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}
.main .swiper-books-slide .cover-wrapper {
    display: flex;
    justify-content: center;
    height: 400px;
}
.main .books-container .swiper-button-prev {
    left: 30px;
}
.main .books-container .swiper-button-next {
    right: 30px;
}
.main .books-container .content {
    padding-right: 50px;
}
.main .books-container .content .name {
    font-size: 1.4rem;
}
.main .books-container .content .description {
    margin-top: 20px;
    font-size: 0.9rem;
    line-height: 22px;
}
@media (max-width: 768px) {
    .main .books-container {
        padding: 30px 15px;
    }
    .main .swiper-books-slide {
        grid-template-columns: 1fr;
    }
    .main .books-container .content {
        padding-right: 0;
        margin-top: 30px;
    }
    .main .books-container .swiper-button-prev {
        left: 10px;
        top: 30%;
    }
    .main .books-container .swiper-button-next {
        right: 10px;
        top: 30%;
    }
}

.main .exchange {
    margin: 100px 0 50px 0;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
}
.main .exchange-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    background-color: #fff;
    border-radius: 100%;
    margin-top: -35px;
}
.main .exchange img {
    width: 50px;
}

.add-block {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 40px 30px;
   max-width: 600px;
   width: 100%;
   margin: 30px auto 30px auto;
   -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
}
.add-block label {
    font-size: 1rem;
}
.add-block label:not(:first-child) {
    margin-top: 30px;
}
.add-block input {
    margin-top: 15px;
    padding: 10px 15px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.add-block button {
    margin-top: 40px;
    padding: 15px 0;
    background-color: var(--swiper-theme-color);
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.footer {
    background-color: #0000008e;
    margin-top: 50px;
    padding: 30px 0;
    color: rgb(214, 214, 214);
}
.footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.footer .footer-title{
    font-size: 1.2rem;
    font-weight: 500;
}
.footer p {
    margin-top: 15px;
    font-size: 0.9rem;
    line-height: 22px;
}
.footer .contact a {
    color: rgb(214, 214, 214);
    font-size: 1rem;
    display: block;
    margin-top: 15px;
}
.main-profile {
    margin-top: 50px;
    margin-bottom: 100px;
}

.main-profile .profile-box{
    background-color: #fff;
    margin-top: 50px;
    display: grid;
    gap: 30px;
    padding: 30px 20px;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
}

@media (min-width: 576px) {
    .main-profile .profile-box {
        grid-template-columns: 1fr 1fr;
    }
}

.main-profile .profile-box .pfp {
    max-width: 300px;
    width: 100%;
    justify-self: center;
}

.main-profile .profile-box .pfp img {
    max-width: 100%;
}

.main-profile .profile-box .content .name {
    font-size: 24px;
}
.main-profile .profile-box .content p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.savecardmodal {
    font: 600 24px/1.35 Poppins, sans-serif;
}
#modaleewindow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#modaleewindow .overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}
.savecardmodal > * {
    box-sizing: border-box;
}
.savecardmodal #modaleewindow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.savecardinner {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,.1);
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 10%);
    padding: 32px;
    z-index: 9999;
    box-sizing: border-box;
    position: relative;
}
.savecardinner .modalheader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.savecardinner .modalheader h1 {
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #1c1e20;
}
.savecardinner .closesavecard {
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    /* -webkit-text-stroke: 1px black; */
}
.savecardinner .formgroup {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-weight: 700;
}
.savecardinner .formgroup input {
    border: 1px solid #C0C0C0;
    height: 40px;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.savecardinner .formgroup input:focus {
    outline: none;
}
.savecardinner .formgroup label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #707070;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: left;
}
.savecardinner input {
    font-size: 18px;
}
.savecardinner .inlinegroup {
    display: flex;
}
.savecardinner .inlinegroup .formgroup {
    width: 50%;
}
.savecardinner .inlinegroup .formgroup:first-child {
    margin-right: 20px;
}
.savecardinner .formcontrol {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.savecardinner .formcontrol button {
    text-transform: uppercase;
    border: none;
    padding: 10px 25px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    border: 1px solid transparent;
    color: #fff;
    background-color: #007aff;
    transition: 0.3s;
}
.savecardinner .formcontrol button.inverted {
    background-color: #fff;
    border: 1px solid #007aff;
    color: #007aff;
}
.savecardinner .formcontrol button.inverted:hover{
    background-color: #fff;
    border: 1px solid #3295ff;
    color: #3295ff;
}
.savecardinner .formcontrol button:first-child {
    margin-left: 0;
}
.savecardinner .formcontrol button:hover {
    background-color: #0966ca;
    color: #fff;
    border: 1px solid transparent;
}
@media (max-width: 768px) {
    .savecardinner .inlinegroup {
        flex-direction: column;
    }
    .savecardinner .inlinegroup .formgroup {
        width: 100%;
    }
    .savecardinner .formcontrol{ flex-direction: column;}
    .savecardinner .formcontrol > [type="submit"]{
        margin-left: 0;
        margin-top: 20px;
    }
}

.main-library {
    margin-top: 50px;
}
.main-library .slider-wrapper {
    padding: 30px;
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
}
.main-library .books-slider .book-slide {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.main-library .books-slider .book-slide:hover {
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 21px -12px rgba(0,0,0,0.3);
}
.main-library .books-slider .book-slide img {
    width: 100%;
}
.main-library .books-slider .book-slide .book-title {
    font-size: 16px;
    margin-top: 10px;
}

.main-library .swiper-container {
    width: 100%;
    height: 400px;
}

.main-library .swiper-container-books {
    background-color: #fff;
}


.main-profile .content button{
    border: 1px solid transparent;
    background-color: var(--swiper-theme-color);
    padding: 10px 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: 500;
}

.rating {
    unicode-bidi: bidi-override;
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > .rated:before {
    content: "\2605";
    position: absolute;
}
.create_profile{
    padding-top: 100px;
    padding-bottom: 100px;
}
.search_input{
    outline: none;
    height: 35px;
    display: inline-block;
    padding-left: 10px;
    border: 1px solid #000;
    width: 165px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 16px;
}
.searchBar{
    width: 203px!important;
    border-radius: 5px;
}
.bi-search .search_button:hover{
    color: green;
}
.search_button{
    left: -3px;
    position: relative;
    top: -1px;
    background-color: #0D6EFD;
    outline: none;
    border: none;
    display: inline-block;
    width: 35px;
    cursor: pointer;
    height: 35px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn2{
    height: 38px;
    background-color: #007AFF;
    width: 80px;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    font-size: 12px;
    margin-right: 10px;
}
.textOfReview{
    width: 100%;
    height: 120px;
    display: inline-block;
    border-radius: 5px;
    outline: none;
    border: 1px solid #007AFF;
    padding-left: 20px;
    padding-top: 20px;
}
.form{
    background-color: #fff;
    padding: 20px;
    height: 200px;
}
.leaveReviewButton{
    float: right;
    background-color: #007AFF;
    color: #fff;
    outline: none;
    border: none;
    height: 40px;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
}
.shadow_wrapper3{
    background-color: rgba(21, 172, 255, 0.2) ;
    height: 150px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.usernameLeftReview{
    font-size: 18px;
}
.textOfReviewLeft{
    font-size: 17px;
    margin-top: 10px;
}
.timeOfLeft{
    font-size: 17px;
    position: relative;
    top: 45px;
    right: 20px;
}